musicbrainzngs
mutagen
pydub
ffmpeg-python
Flask
Werkzeug
Jinja2
yt-dlp
ytmdl
spotipy
youtube-search-python
ytmusicapi
itunespy
downloader-cli
requests
httpx
beautifulsoup4
redis
rich
pycountry
pyDes
Unidecode
PySocks